.container{
  padding: 32px;
}
.container-index{
  padding: 32px;
  margin-left: 42px;
  h1{
    font-size: 80px;
  }
}
.btn-outline-brown{
  border-color: #6F4436;
  background-color: white;
  color: #6F4436;
  &:hover{
    background-color: #6F4436;
    border-color: #6F4436;
    color: white;
  }
}

.container-new{
  padding: 32px;
  background-color: white;
  color: #3C2F2F;

  .btn{
    border-radius: 30px;
  }
}

.container-menu{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
  h2{
    margin-right:16px;
    font-family: ovo;
    color: #3C2F2F;
  }
  .btn{
    border-radius: 30px;
  }
}


@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-index{
    padding: 32px;
    margin-left: 0;
    h1{
      font-size: 64px;
    }
  }
}
