.bg-white{
  background-color: white;
  border-bottom: 1px solid, grey;
}

.text-green{
  color: grey;
  margin-right: 24px;
  &:hover{
    color: #082F35;
    text-decoration: none;
  }
}
.fas{
  .fa-coffee{
    color:teal;
  }
}

.navbar-brand{
  color: brown;
}
