.bg-white{
  background-color: white;
  border-bottom: 1px solid, grey;
  padding: 24px;
}

.text-brown{
  color: #3C2F2F;
  margin-right: 24px;
  font-size: 20px;
  &:hover{
    color: #854442;
    text-decoration: none;
  }
}

.icon-brown{
  color:#3C2F2F;
  margin-right: 24px;
}
